.title { font-family: 'Arial';
color: blueviolet;
text-align: center;
background-color: rgb(0, 0, 0);
padding: 20px;}

.text1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: darkgrey;
}

@font-face {
    font-family: 'Sugo Pro Display';
    src: url('Sugo-Pro-Display-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Apply the font to your website headings */
h1, h2, h3, pre {
    font-family: 'Sugo Pro Display', sans-serif;
}

h2 {
    /* min-size: 1.8rem, scaling-rate: 4vw, max-size: 3rem */
    font-size: clamp(1.8rem, 4vw, 3rem); 
    text-align: center;
}
